<scandetails targetip="#TEMPL_IP" targethostname="#TEMPL_HOSTNAME" targetport="#TEMPL_PORT" targetbanner="#TEMPL_BANNER" starttime="#TEMPL_START" endtime="#TEMPL_END" elasped="#TEMPL_ELAPSED" sitename="#TEMPL_LINK_NAME" siteip="#TEMPL_LINK_IP" itemstested="#TEMPL_ITEMS_TESTED" itemsfound="#TEMPL_ITEMS_FOUND">
