<item id="#ID" osvdbid="#TEMPL_OSVDB" osvdblink="#TEMPL_OSVDB_LINK" method="#TEMPL_HTTP_METHOD">
<description>#TEMPL_MSG</description>
<uri>#TEMPL_URI</uri>
<namelink>#TEMPL_ITEM_NAME_LINK</namelink>
<iplink>#TEMPL_ITEM_IP_LINK</iplink>
</item>
