  <table class="datatable" width=95%>
  <tr>
    <td width=150 valign=top><b>Information</b></td>
    <td>#TEMPL_SMMSG</td>
  </tr>
  <tr>
    <td width=150 valign=top><b>OSVDB&nbsp;Entries</b></td>
    <td><a href="#TEMPL_OSVDB_LINK" title="More vuln information on OSVDB.org">OSVDB-#TEMPL_OSVDB</a>
    </td>
  </tr>
</table>
