<a name="#TEMPL_HCTR"><table class="headerTable" width=300><tr><td>#TEMPL_HOSTNAME / #TEMPL_IP</td></tr></table></a>
<table width=95% class="datatable">
 <tr>
   <td width=150 valign=top><b>Target&nbsp;IP</b></td>
   <td>#TEMPL_IP</td>
 </tr>
 <tr>
   <td><b>Target&nbsp;hostname</b></td>
   <td>#TEMPL_HOSTNAME</td>
 </tr>
  <tr>
   <td><b>Target&nbsp;Port</b></td>
   <td>#TEMPL_PORT</td>
 </tr>
  <tr>
   <td><b>HTTP&nbsp;Server</b></td>
   <td>#TEMPL_BANNER</td>
 </tr>
 <tr>
   <td><b>Start&nbsp;Time</b></td>
   <td>#TEMPL_START</td>
 </tr>
 <tr>
   <td><b>End&nbsp;Time</b></td>
   <td>#TEMPL_END</td>
 </tr>
 <tr>
   <td><b>Elapsed</b></td>
   <td>#TEMPL_ELAPSED Seconds</td>
 </tr>
 <tr>
   <td><b>Site&nbsp;Link&nbsp;(Name)</b></td>
   <td>
     <a href="#TEMPL_LINK_NAME">#TEMPL_LINK_NAME</a>
    </td>
 </tr>
 <tr>
   <td><b>Site&nbsp;Link&nbsp;(IP)</b></td>
   <td>
     <a href="#TEMPL_LINK_IP">#TEMPL_LINK_IP</a>
   </td>
 </tr>
 <tr>
   <td><b>Items&nbsp;Tested</b></td>
   <td>#TEMPL_ITEMS_TESTED</td>
 </tr>
 <tr>
   <td><b>Items&nbsp;Found</b></td>
   <td>#TEMPL_ITEMS_FOUND</td>
 </tr>
 </table>
<br>
