<table class="headerTable" width=300><tr><td>Nikto Scan&nbsp;Summary</td></tr></table>
<table class="datatable" width=95%>
  <tr>
    <td width=150 valign=top><b>Software Details</b></td>
    <td><a href="http://cirt.net/">Nikto&nbsp;#TEMPL_NIKTO_VER</a></td>
  <tr>
    <td><b>CLI&nbsp;Options</b></td>
    <td>#TEMPL_NIKTO_CLI</td>
  </tr>
  <tr>
    <td><b>Hosts&nbsp;Tested</b></td>
    <td>#TEMPL_NIKTO_HOSTS_TESTED</td>
  </tr>
</table>
<br><br>
