<table  class="datatable" width=95%>
  </tr>
  <tr>
    <td width=150 valign=top><b>URI</b></td>
    <td>#TEMPL_URI</td>
  </tr>
  <tr>
    <td width=150 valign=top><b>HTTP&nbsp;Method</b></td>
    <td>#TEMPL_HTTP_METHOD</td>
  </tr>
  <tr>
    <td width=150 valign=top><b>Description</b></td>
    <td>#TEMPL_MSG</td>
  </tr>
  <tr>
    <td width=150 valign=top><b>Test&nbsp;Links</b></td>
    <td>
      <a href="#TEMPL_ITEM_NAME_LINK">#TEMPL_ITEM_NAME_LINK</a><br>
      <a href="#TEMPL_ITEM_IP_LINK">#TEMPL_ITEM_IP_LINK</a>
    </td>
  </tr>
  <tr>
    <td width=150 valign=top><b>OSVDB&nbsp;Entries</b></td>
    <td>
       <a href="#TEMPL_OSVDB_LINK" title="More vuln information on OSVDB.org">OSVDB-#TEMPL_OSVDB</a>
    </td>
</table>
